/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: hsl(163, 74%, 39%);
  --error: #e7195a;
}
body {
  background: #f4faffff;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #f4faffff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0px 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#DBE2EF;
}
header a {
  color: #112D4E;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.note-details {
  background: #DBE2EF;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.note-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #3F72AF;
}
.note-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.note-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */
label, input {
  display: block;
}
.input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #112D4E;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background:#112D4E;
  border: 0;
  color: white;
  
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

.login,.signup{
  margin: auto;
  margin-top: 140px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
   
  max-width: 450px;
  box-shadow: 4px 4px 40px #d2d2d2;
  padding: 20px;
  border-radius: 20px;
 }
 .input-login,.input-signup{
   margin-top: 10px ;
   margin-bottom: 10px ;
   background-color: #ecebeb;
   border: 1px solid #ccc;
   border-radius: 2px;
   height:25px
   
 }
 .login-button,.signup-button{
   margin-top: 10px;
   align-self: center;
   width: 100%;
 }
 .nav-buttons{
  margin: 5px;
 }


